#postit{
  @media screen and (max-width: 991px) {
    height: 250px;
    width: 250px;
  }
  height: 335px;
  width: 335px;
  transform: rotate(-5deg);
  box-shadow: 20px 20px 20px;
}
#descripcion{
  @media screen and (max-width: 991px) {
    height: 45%;
    overflow: scroll;
  }
  width: 100%;
  overflow-wrap: break-word;
  hyphens: auto;
}
.position-absolute{
  bottom: 2.5%;
}
