<div class="row g-0 pb-3" *ngIf="user">
  <div class="offset-1 col-10">
    <h1 class="display-5 text-success text-center fw-bold mt-5">Nueva tarea</h1>
    <form (ngSubmit)="addTask(tarea)" #form="ngForm">
      <div class="row g-0">
        <div class="d-flex flex-column col-lg-6 p-3">
          <div class="form-group">
            <label for="descripcion" class="form-label">Descripción:</label>
            <textarea class="form-control" id="descripcion" name="descripcion" rows="3" [(ngModel)]="tarea.descripcion"
            placeholder="Descripción con una longitud mínima de 8 caracteres y máxima de 255 caracteres"
            [ngClass]="{'is-invalid': error && error !== '', 'is-valid': error === ''}" required maxlength="255"></textarea>
            <div class="invalid-feedback">{{error}}</div>
          </div>
          <div class="d-flex form-check form-switch my-3">
            <label class="form-check-label" for="realizada">Tarea realizada:&nbsp;</label>
            <input class="form-check-input" type="checkbox" id="realizada" name="realizada" value="realizada" [(ngModel)]="tarea.realizada">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="fecha">Fecha límite de la tarea<span class="text-danger">*</span></span>
            <input type="datetime-local" class="form-control" #datetime (change)="saveDate(datetime.value)">
          </div>
          <div id="alertTask">
            <div class="text-danger fw-light my-3">*Campo opcional</div>
            <div class="row g-0">
              <button type="button" class="btn btn-danger col-lg-5 mb-3 mb-lg-0" (click)="reset(datetime)">Borrar datos</button>
              <button type="submit" class="btn btn-success offset-lg-2 col-lg-5" [disabled]="form.invalid">Añadir tarea</button>
            </div>
          </div>
        </div>
        <task-item class="d-flex flex-column col-lg-6 p-3" [tarea]="tarea"></task-item>
      </div>
    </form>
  </div>
</div>
