<div class="row g-0">
  <task-item class="d-none d-lg-block col-lg-6 my-auto" [tarea]="tarea" [nota_pass]="true"></task-item>
  <div class="offset-1 col-10 offset-md-2 col-md-8 offset-lg-0 col-lg-6">
    <h1 class="display-5 text-dark text-center fw-bold mt-5">Cambia tu contraseña</h1>
    <form (ngSubmit)="changePassword()" #form="ngForm">
      <div class="row g-0">
        <div class="form-group form-floating my-1 offset-lg-2 col-lg-8">
          <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña actual" [(ngModel)]="userPass.password"
          [ngClass]="{'is-invalid': errores.password && errores.password.length, 'is-valid': !errores.password}" required>
          <div class="invalid-feedback" *ngFor="let error of errores.password">{{error}}</div>
          <label for="password">Contraseña actual<span class="text-danger d-lg-none">*</span></label>
        </div>
        <div class="form-group form-floating my-1 offset-lg-2 col-lg-8">
          <input type="password" class="form-control" id="new_password" name="new_password" placeholder="Nueva contraseñ" [(ngModel)]="userPass.new_password"
          [ngClass]="{'is-invalid': errores.new_password && errores.new_password.length, 'is-valid': !errores.password && !errores.new_password}" required>
          <div class="invalid-feedback" *ngFor="let error of errores.new_password">{{error}}</div>
          <label for="new_password">Nueva contraseña<span class="text-danger d-lg-none">*</span></label>
        </div>
        <div class="form-group form-floating my-1 offset-lg-2 col-lg-8">
          <input type="password" class="form-control" id="c_new_password" name="c_new_password" placeholder="Confirma la nueva contraseña"
          [(ngModel)]="new_pass" [ngClass]="{'is-invalid': errores.new_password && errores.new_password.length, 'is-valid': !errores.password && !errores.new_password}" required>
          <div class="invalid-feedback" *ngFor="let error of errores.new_password">{{error}}</div>
          <label for="c_new_password">Confirma la nueva contraseña<span class="text-danger d-lg-none">*</span></label>
        </div>
        <div class="offset-lg-2 col-lg-8 mt-4 mb-3" id="alertPass">
          <div class="d-lg-none text-danger fw-light mb-3">
            *La contraseña debe tener al menos 8 caracteres, entre ellos mínimo una letra mayúscula, una letra minúscula y un número
          </div>
          <div class="row g-0">
            <button type="button" class="btn btn-secondary col-md-4 mb-3 mb-md-0" (click)="reset()">Borrar datos</button>
            <button type="submit" class="btn btn-primary offset-md-2 col-md-6" [disabled]="form.invalid">Cambiar contraseña</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
